*{
	margin: 0;
}
h1{
	font-size: 200%;
}
a{
	text-decoration: none;
	color: black;
}
a:visited {
    color: black;
}
a:active {
    color: black;
}
header{
	width: 100vw;
	height: 10vh;
	background-color: rgb(225, 218, 225);
	display: flex;
}
h4{
	margin: auto;
	color: black;
}
.your-class{
	width: 100vw;
	height: 100vh;
}
.name{
	display: inline-block;
	text-align: center;
	padding-top: 5vh;
}
h1{
	text-align: center;
}
h1,h2,h3,h4,p, span{
	font-family: 'Merriweather', serif;
}
.first_slide{
	display: block;
	background-color: rgb(225, 218, 225);
	width: 100%;
}
.second_slide{
	display: block;
	background-color: rgb(211, 212, 204);
	width: 100%;
}
.third_slide{
	display: block;
	background-color: rgb(238, 238, 238);
	width: 100%;
}
.slide{
	display: inline-block;
	float: left;
	width: 100vw;
	/*height: 50vh;*/
}
.about_the_pastry_chef{
	display: block;
	width: 100vw;
	height: 100vh;
	background-color: rgb(225, 218, 225);
}
.cntr{
	text-align: center;
}
.about_Victoria{
	display: inline-block;
	width: 100vw;
	text-align: center;
	padding-top: 8vh;
	padding-bottom: 0;
	height: 42vh;
}
.photo_victoria{
	display: inline-block;
	height: 47vh;
	text-align: center;
}

.examples{
	width: 100vw;
	background-color: rgb(238, 238, 238);
	text-align: center;
	padding-top: 3vh;
	height: 50vh;
}
.center{
	display: block;
	margin-top: 4vh;
	height: 50vh;
}
.center div{
}
.example_slide{
	width: 50vw;
	padding: 3px;
}

.price-list{
	width: 100vw;
	background-color: rgb(225, 218, 225);
	padding-top: 5vh;
	text-align: center;
}
.photos{
	display: inline-block;
	padding-top: 5vh;
	padding-left: 5vw;
	background-color: rgb(225, 218, 225);
}
.photos div{
	display: inline-block;
	float: left;
	text-align: center;
	width: 90vw;
	padding-bottom: 5vh;
}
.price-list img{
	width: 60vw;
	margin-top: 10px;
	margin-bottom: 10px;
}

footer{
	display: inline-block;
	width: 100vw;
	background-color: #c0c0c0;
	text-align: center;
	padding-top: 5vh;
	padding-bottom: 5vh;
}
.contacts img{
	padding: 2%;
}

@media only screen and (max-device-width : 800px) 
and (orientation : landscape) {
.name{
	display: inline-block;
	float: left;
	width: 45vw;
	height: 45vw;
	text-align: center;
	padding-top: 20%;
	/*padding-left: 10%;
	padding-top: 20%;*/
}
.slide{
	display: inline-block;
	float: left;
	/*height: 100vh;*/
	width: 49vw;
	height: 49vw;
}
.about_the_pastry_chef{
	height: 80vh;
	width: 100vw;
	background-color: rgb(225, 218, 225);
}
.about_Victoria{
	display: inline-block;
	float: left;
	text-align: center;
	width: 50vw;
	height: 55vh;
	padding-top: 25vh;
}
.cntr{
	display: inline-block;
	float: left;
	width: 50vw;
	height: 80vh;
	text-align: center;
	padding-top: 10vh;
}
.photo_victoria{
	height: 60vh;
}

.examples{
	background-color: rgb(238, 238, 238);
	text-align: center;
	height: 75vh;
}
.center{
	height: 50vh;
}
.example_slide{
	width: 25vw;
	padding: 5px;
}
.price-list{
	background-color: rgb(225, 218, 225);
	padding-top: 5vh;
	display: block;
}
.photos{
	display: inline-block;
	padding-top: 5vh;
	/*padding-left: 3vw;*/
	background-color: rgb(225, 218, 225);
}
.photos div{
	display: inline-block;
	float: left;
	text-align: center;
	width: 23vw;
	height: 25vw;
	padding-bottom: 5vh;
}
.price-list img{
	width: 18vw;
	margin-top: 10px;
	margin-bottom: 10px;
}
.long{
	display: inline-block;
	float: left;
	text-align: center;
	width: 23vw;
	height: 30vw;
	padding-bottom: 5vh;
}
footer{
	display: inline-block;
	width: 100vw;
	background-color: #c0c0c0;
	text-align: center;
	padding-top: 5vh;
	padding-bottom: 5vh;
}
.contacts img{
	padding: 2%;
}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
.name{
	padding-left: 23vw;
}
.about_the_pastry_chef{
	width: 100vw;
	height: 80vh;
}
.about_Victoria{
	padding-bottom: 0;
	height: 15vh;
}
.price-list{
	margin-top: 5vh;
}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
.name{
	display: inline-block;
	float: left;
	width: 45vw;
	height: 45vw;
	text-align: center;
	padding-top: 20%;
	/*padding-left: 10%;
	padding-top: 20%;*/
}
.slide{
	display: inline-block;
	float: left;
	/*height: 100vh;*/
	width: 49vw;
	height: 49vw;
}
.about_the_pastry_chef{
	height: 80vh;
	width: 100vw;
	background-color: rgb(225, 218, 225);
}
.about_Victoria{
	display: inline-block;
	float: left;
	text-align: center;
	width: 50vw;
	height: 55vh;
	padding-top: 25vh;
}
.cntr{
	display: inline-block;
	float: left;
	width: 50vw;
	height: 80vh;
	text-align: center;
	padding-top: 10vh;
}
.photo_victoria{
	height: 60vh;
}

.examples{
	background-color: rgb(238, 238, 238);
	text-align: center;
	height: 75vh;
}
.center{
	height: 50vh;
}
.example_slide{
	width: 25vw;
	padding: 5px;
}
.price-list{
	background-color: rgb(225, 218, 225);
	padding-top: 5vh;
	display: block;
}
.photos{
	display: inline-block;
	padding-top: 5vh;
	/*padding-left: 3vw;*/
	background-color: rgb(225, 218, 225);
}
.photos div{
	display: inline-block;
	float: left;
	text-align: center;
	width: 23vw;
	height: 25vw;
	padding-bottom: 5vh;
}
.price-list img{
	width: 18vw;
	margin-top: 10px;
	margin-bottom: 10px;
}
.long{
	display: inline-block;
	float: left;
	text-align: center;
	width: 23vw;
	height: 30vw;
	padding-bottom: 5vh;
}
footer{
	display: inline-block;
	width: 100vw;
	background-color: #c0c0c0;
	text-align: center;
	padding-top: 5vh;
	padding-bottom: 5vh;
}
.contacts img{
	padding: 2%;
}
}

@media screen and (min-device-width: 1000px){
.name{
	display: inline-block;
	float: left;
	width: 45vw;
	height: 45vw;
	text-align: center;
	padding-top: 20%;
	/*padding-left: 10%;
	padding-top: 20%;*/
}
.slide{
	display: inline-block;
	float: left;
	/*height: 100vh;*/
	width: 49vw;
	height: 49vw;
}
.about_the_pastry_chef{
	height: 80vh;
	width: 100vw;
	background-color: rgb(225, 218, 225);
}
.about_Victoria{
	display: inline-block;
	float: left;
	text-align: center;
	width: 50vw;
	height: 55vh;
	padding-top: 25vh;
}
.cntr{
	display: inline-block;
	float: left;
	width: 50vw;
	height: 80vh;
	text-align: center;
	padding-top: 10vh;
}
.photo_victoria{
	height: 60vh;
}

.examples{
	background-color: rgb(238, 238, 238);
	text-align: center;
	height: 75vh;
}
.center{
	height: 50vh;
}
.example_slide{
	width: 25vw;
	padding: 5px;
}
.price-list{
	background-color: rgb(225, 218, 225);
	padding-top: 5vh;
	display: block;
}
.photos{
	display: inline-block;
	padding-top: 5vh;
	/*padding-left: 3vw;*/
	background-color: rgb(225, 218, 225);
}
.photos div{
	display: inline-block;
	float: left;
	text-align: center;
	width: 23vw;
	height: 25vw;
	padding-bottom: 5vh;
}
.price-list img{
	width: 18vw;
	margin-top: 10px;
	margin-bottom: 10px;
}
.long{
	display: inline-block;
	float: left;
	text-align: center;
	width: 23vw;
	height: 30vw;
	padding-bottom: 5vh;
}
footer{
	display: inline-block;
	width: 100vw;
	background-color: #c0c0c0;
	text-align: center;
	padding-top: 5vh;
	padding-bottom: 5vh;
}
.contacts img{
	padding: 2%;
}
}
